@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root{
    --primary-color: rgb(17, 90, 100);
    --primary-color-darker: rgb(17, 50, 60);
}

*{
    box-sizing: border-box;
    outline: none;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--primary-color);
}

form button{
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover{
    background: var(--primary-color-darker);
}

form button:active{
    background: rgb(17, 20, 30);
}

.paragrafo-resultado, .bad{
    background: rgb(100, 255, 113);
    padding: 10px 20px;
}

.bad{
    background: rgb(255, 100, 100);
    padding: 10 px 20px;
}